<script>
(function() {
  'use strict';

  //since it is collected data in client side, i put init comments here
  let comments = [
    {
        "id": 1,
        "avatar": "https://i.pravatar.cc/150?img=3",
        "username": "Noah Jackson",
        "title": "INTP for sure!",
        "comment": "This is a sample comment. I really love this profile and think it is super accurate! came from my own experience as an INTP 5w1 Taurus. Highly recommend checking out the other profiles on this site as well!",
        "mbti": "INTP",
        "enneagram": "",
        "zodiac": "TAURUS",
        "love": "45",
        "is_loved_by_current_user": false,
    },
    {
        "id": 2,
        "avatar": "https://i.pravatar.cc/150?img=6",
        "username": "Miracle Stevey",
        "title": "INTP or INTJ",
        "comment": "I wonder if this profile could also fit INTJ types? I feel like there are some similarities between the two, especially when it comes to their analytical and strategic thinking. What do you all think?",
        "mbti": "ESFJ",
        "enneagram": "1_wing_3",
        "zodiac": "VIRGO",
        "love": "41",
        "is_loved_by_current_user": false,

    },
];

  document.addEventListener("DOMContentLoaded", () => {
    
    // Initial comments render
    renderComments();

    function renderComments(commentsToRender = comments) {
        const container = document.getElementById('comments-container');

        container.innerHTML = commentsToRender.map(comment => `
            <div class="profile-card comment-box row">
                <div class="row sqs-row">
                <div class="col sqs-col-sub-trait comment-box-avatar">
                    <img class="comment-profile-picture" src="${comment.avatar}" /> 
                </div>
                <div class="col sqs-col-sub-trait comment-box-username">
                    <span>${comment.username}</span>
                </div>
                </div>
                <div class="row">
                <div class="sqs-col-12 comment-box-title">
                    <p>
                        ${comment.title}
                    </p>
                </div>
                </div>
                <div class="row sqs-row">
                <div class="col sqs-col-comment">
                    ${comment.mbti !="" ? "<div class='rounded-button'>" + comment.mbti + "</div>" : ''}
                    ${comment.enneagram !="" ? "<div class='rounded-button'>" + comment.enneagram + "</div>" : ''}
                    ${comment.zodiac !="" ? "<div class='rounded-button zodiac-sign'>" + comment.zodiac + "</div>" : ''}
                </div>
                </div>
                <div class="row">
                <div class="comment-box-body">
                    <p>
                        ${comment.comment}
                    </p>
                </div>
                </div>
            
                <!-- LOVE/VOTE BUTTON -->
                <div class="row sqs-row">
                <div class="col sqs-col-comment">
                    <ul class="comment-loves">
                        <li class="love-button">
                        <i class="material-icons love-icon love-icon-${comment.id}" data-id=${comment.id}>favorite</i>
                        </li>
                        <li class="love-count">
                        <span class="vote-count comment-id-${comment.id}">${comment.love}</span>
                        </li>
                    </ul> 
                </div>
                </div>
            </div>
        `).join('');
    }

    // Handle love button clicks
    document.addEventListener("click", (e) => {
        if (e.target.classList.contains('love-icon')) {
            const id = parseInt(e.target.dataset.id);
            toggleLove(id);
        }


    });

    const lovedComments = new Set(); // Stores comment IDs
    function toggleLove(id) {
        const comment = comments.find(c => c.id === id);
        const isLoved = document.getElementsByClassName('love-icon-'+id)[0];

        if (!comment) return;
        
        if (lovedComments.has(id)) {
            // Already loved - unlove it
            comment.love--;
            lovedComments.delete(id);
            isLoved.classList.remove('loved');
        } else {
            // Not loved yet - love it
            comment.love++;
            lovedComments.add(id);
            isLoved.classList.add('loved');
        }
        
        document.querySelector('.comment-id-' + id).textContent = comment.love;
 
    }

    const dropdownButton = document.querySelector(".dropdown-toggle");
    const dropdownMenu = document.querySelector(".dropdown-menu");
    
    dropdownButton.addEventListener("click", (e) => {
        e.stopPropagation()
        dropdownMenu.classList.toggle("open");
    });

    document.addEventListener("click", (e) => {
        dropdownMenu.classList.remove("open");
    });
  });


})();
</script>