<script>
(function() {
  'use strict';

  //sample comments here
  let comments = [
    {
        "id": 1763469903498, // id using timestamp for simplicity
        "avatar": "https://i.pravatar.cc/150?img=3",
        "username": "Noah Jackson",
        "title": "ISFJ for sure!",
        "comment": "This is a sample comment. I really love this profile and think it is super accurate! came from my own experience as an ISFJ 5w1 Taurus. Highly recommend checking out the other profiles on this site as well!",
        "mbti": "ISFJ",
        "enneagram": "",
        "zodiac": "LIBRA",
        "love": 45,
        "is_loved_by_current_user": false,
    },
    {
        "id": 1763470002089,
        "avatar": "https://i.pravatar.cc/150?img=6",
        "username": "Miracle Stevey",
        "title": "ISFJ or ISTP",
        "comment": "I wonder if this profile could also fit ISTP types? I feel like there are some similarities between the two, especially when it comes to their analytical and strategic thinking. What do you all think?",
        "mbti": "ISFJ",
        "enneagram": "1_wing_3",
        "zodiac": "LIBRA",
        "love": 41,
        "is_loved_by_current_user": false,

    },
];

    // Submit button enabler components init state
    let sendButtonStatus = false;
    let commentTitleStatus = false;
    let commentBodyStatus = false;
    let mbtiStatus = false;
    let enneagramStatus = false;
    let zodiacStatus = false;
    
    const sortByMostLovedButton = document.getElementById("sortByMostLoved");
    const sortByDateButton = document.getElementById("sortByDate");
    
    document.addEventListener("DOMContentLoaded", () => {
    
    // Initial comments render
    renderComments(comments, "mostLoved");

    function renderComments(comments=comments, sortType="mostLoved") {
        const container = document.getElementById('comments-container');
        
        if(sortType === "mostLoved") {
            comments.sort((a, b) => b.love - a.love);
        } else if (sortType === "byDate") {
            comments.sort((a, b) => b.id - a.id);
        }
        
        container.innerHTML = comments.map(comment => {
            const enneagramDisplay = comment.enneagram.replace(
            /_wing_/g, 
            '<img src="/static/wing.png" alt="wing" class="wing-of-changes">'
            );
            
            return `
            <div class="profile-card comment-box row">
                <div class="row sqs-row">
                <div class="col sqs-col-sub-trait comment-box-avatar">
                    <img class="comment-profile-picture" src="${comment.avatar}" /> 
                </div>
                <div class="col sqs-col-sub-trait comment-box-username">
                    <span>${comment.username}</span>
                </div>
                </div>
                <div class="row">
                <div class="sqs-col-12 comment-box-title">
                    <p>
                        ${comment.title}
                    </p>
                </div>
                </div>
                <div class="row sqs-row">
                <div class="col sqs-col-comment">
                    ${comment.mbti !="" ? "<div class='rounded-button'>" + comment.mbti + "</div>" : ''}
                    ${comment.enneagram !="" ? "<div class='rounded-button'>" + enneagramDisplay + "</div>" : ''}
                    ${comment.zodiac !="" ? "<div class='rounded-button zodiac-sign'>" + comment.zodiac + "</div>" : ''}
                </div>
                </div>
                <div class="row">
                <div class="comment-box-body">
                    <p>
                        ${comment.comment}
                    </p>
                </div>
                </div>
            
                <!-- LOVE/VOTE BUTTON -->
                <div class="row sqs-row">
                <div class="col sqs-col-comment">
                    <ul class="comment-loves">
                        <li class="love-button">
                        <i class="material-icons love-icon love-icon-${comment.id}" data-id=${comment.id}>favorite</i>
                        </li>
                        <li class="love-count">
                        <span class="vote-count comment-id-${comment.id}">${comment.love}</span>
                        </li>
                    </ul> 
                </div>
                </div>
            </div>
        `}).join('');
    }

    //SORTING COMMENTS BY MOST LOVED
    document.getElementById("sortByMostLoved").addEventListener("click", function () {
        renderComments(comments, "mostLoved");
        sortByDateButton.classList.remove("sorting-button-active");
        sortByMostLovedButton.classList.add("sorting-button-active");
    });

    //SORTING COMMENTS BY DATE (since we use timestamp as ID, so just sort by ID)
    document.getElementById("sortByDate").addEventListener("click", function () {
        renderComments(comments, "byDate");
        sortByMostLovedButton.classList.remove("sorting-button-active");
        sortByDateButton.classList.add("sorting-button-active");
    });

    // Handle love button clicks
    document.addEventListener("click", (e) => {
        if (e.target.classList.contains('love-icon')) {
            const id = parseInt(e.target.dataset.id);
            toggleLove(id);
        }
    });

    const lovedComments = new Set();
    function toggleLove(id) {
        const comment = comments.find(c => c.id === id);
        const isLoved = document.getElementsByClassName('love-icon-'+id)[0];

        if (!comment) return;
        
        if (lovedComments.has(id)) {
            // Already loved - unlove it
            comment.love--;
            lovedComments.delete(id);
            isLoved.classList.remove('loved');
        } else {
            // Not loved yet - love it
            comment.love++;
            lovedComments.add(id);
            isLoved.classList.add('loved');
        }
        
        document.querySelector('.comment-id-' + id).textContent = comment.love;
    }

    // Dropdown functionality for new comment box
    const dropdownButton = document.querySelector(".dropdown-toggle");
    const dropdownMenu = document.querySelector(".dropdown-menu");
    
    dropdownButton.addEventListener("click", (e) => {
        e.preventDefault(); 
        e.stopPropagation()
        dropdownMenu.classList.toggle("open");
    });

    document.addEventListener("click", (e) => {
        dropdownMenu.classList.remove("open");
    });

    // MBTI Dropdown
    const mbtiButton = document.getElementById("mbtiButton");
    const mbtiMenu = document.getElementById("mbtiMenu");

    mbtiMenu.addEventListener("click", function(e) {
        if (e.target.classList.contains("dropdown-item")) {

            const selected = e.target.textContent.trim();
            if (selected !== "MBTI") {
                mbtiStatus = true;
                mbtiButton.classList.add("active-button");
            } else {
                mbtiStatus = false;
                mbtiButton.classList.remove("active-button");

            }
            mbtiButton.textContent = selected;
            mbtiMenu.classList.remove("show");

            setSendButtonState() 
        }
    });
    
     // comment title watcher
     document.getElementById("showNewCommentBox").addEventListener("click", function () {
        const newCommentBox = document.querySelector(".comment-box");
        newCommentBox.classList.toggle("hidden");

     });

    // comment title watcher
    document.getElementById("commentTitle").addEventListener("keyup", function () {
        const v = this.value.trim();
        if (v != "") {
            commentTitleStatus = true;
            console.log(commentTitleStatus)

        } 
        console.log(v)
        setSendButtonState();
    });

    // comment body watcher
    document.getElementById("commentBody").addEventListener("keyup", function () {
        const v = this.value.trim();
        if (v != "") {
            commentBodyStatus = true;
            console.log(commentBodyStatus)
        } 
        setSendButtonState();

    });

    function setSendButtonState() {
        // console.log(commentTitleStatus, commentBodyStatus, mbtiStatus, enneagramStatus, zodiacStatus);
        const sendButton = document.querySelector(".send-button");
        if (commentTitleStatus || commentBodyStatus || mbtiStatus || enneagramStatus || zodiacStatus ) {
            sendButton.classList.remove("disabled-button");
            sendButtonStatus = true;
        } else {
            sendButton.classList.add("disabled-button");
            sendButtonStatus = false;
        }
    }

    // === Form Submission ===
    const commentForm = document.getElementById('comment-form');
    commentForm?.addEventListener('submit', (e) => {
        e.preventDefault();
        const formData = {
            id: Date.now(),
            avatar: "https://i.pravatar.cc/150?img=1",
            username: "Nilam Abey",
            title: e.target.title.value,
            mbti: document.querySelector('.mbti-toggle').textContent,
            enneagram: document.querySelector('.enneagram-toggle').textContent,
            zodiac: document.querySelector('.zodiac-toggle').textContent,
            comment: e.target.comment.value,
            love: 0,
            is_loved_by_current_user: false,
        };
        console.log(formData)
        addComment(formData);
        e.target.reset();
    });

    function addComment(newComment) {
        comments.push(newComment);
        renderComments(); // Re-render comments
    }

    //END of DOMContentLoaded
    });


})();
</script>